/* Box sizing rules */

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Remove default padding */

ol[class],
ul[class] {
  padding: 0;
}
/* Remove default margin */

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol[class],
p,
ul[class] {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'coresans';
}
/* Remove list styles on ul, ol elements with a class attribute */

ol[class],
ul[class] {
  list-style: none;
}

a {
  text-decoration: none !important;
}
/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */

button,
input,
select,
textarea {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
