@font-face {
  font-family: 'coresans';
  src: url("../fonts/CoreSansD25Light.eot?#iefix") format('embedded-opentype'), url("../fonts/CoreSansD25Light.otf") format('opentype'), url("../fonts/CoreSansD25Light.woff") format('woff'), url("../fonts/CoreSansD25Light.ttf") format('truetype'), url("../fonts/CoreSansD25Light.svg#../fonts/CoreSansD25Light") format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'coresans';
  src: url("../fonts/CoreSansD45Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/CoreSansD45Medium.otf") format('opentype'), url("../fonts/CoreSansD45Medium.woff") format('woff'), url("../fonts/CoreSansD45Medium.ttf") format('truetype'), url("../fonts/CoreSansD45Medium.svg#../fonts/CoreSansD45Medium") format('svg');
  font-weight: 500;
}
@font-face {
  font-family: 'coresans';
  src: url("../fonts/CoreSansD57CnBold.eot?#iefix") format('embedded-opentype'), url("../fonts/CoreSansD57CnBold.otf") format('opentype'), url("../fonts/CoreSansD57CnBold.woff") format('woff'), url("../fonts/CoreSansD57CnBold.ttf") format('truetype'), url("../fonts/CoreSansD57CnBold.svg#../fonts/CoreSansD57CnBold") format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'coresans';
  src: url("../fonts/CoreSansD77CnBlack.eot?#iefix") format('embedded-opentype'), url("../fonts/CoreSansD77CnBlack.otf") format('opentype'), url("../fonts/CoreSansD77CnBlack.woff") format('woff'), url("../fonts/CoreSansD77CnBlack.ttf") format('truetype'), url("../fonts/CoreSansD77CnBlack.svg#../fonts/CoreSansD77CnBlack") format('svg');
  font-weight: 900;
}
